ğŸ“ŒQ1. ì—¬ëŸ¬ë¶„ì€ íŒŒì´ì¬ì„ í†µí•´ ì„¤ë¬¸ì¡°ì‚¬ ë¬¸í•­ì˜ ì‘ë‹µë‚´ì—­ì„ ë¶„ì„í•˜ê²Œ ë˜ì—ˆìŠµë‹ˆë‹¤. ë¬¸í•­ë³„ ì‘ë‹µë‚´ìš©ì—ëŠ” í•˜ë‚˜ì˜ ì‘ë‹µë§Œ í•  ìˆ˜ ìˆëŠ” single choice ë¬¸ì œì™€ ì—¬ëŸ¬ ì‘ë‹µì„ ì„ íƒí•  ìˆ˜ ìˆëŠ” multiple choice ë¬¸ì œê°€ ìˆìŠµë‹ˆë‹¤. 2ê°œë¥¼ êµ¬ë¶„í•˜ê¸° ìœ„í•´ single choice ë¬¸í•­ ë²ˆí˜¸ì— "_"ë¥¼ í‘œê¸°í•˜ì§€ ì•Šê¸°ë¡œ í–ˆìŠµë‹ˆë‹¤.
ë¬¸í•­ë³„ ì‘ë‹µë‚´ì—­ì´ 'question'ì— ë‹´ê²¨ ìˆì„ ë•Œ, ì¡°ê±´ë¬¸ê³¼ ë°˜ë³µë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì•„ë˜ì™€ ê°™ì€ ê²°ê³¼ê°€ ì¶œë ¥ë˜ë„ë¡ ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì„¸ìš”.

ğŸ”½ ì¶œë ¥ ì˜ˆì‹œ

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

In [7]:
# ì‘ë‹µ ì„¤ë¬¸ ë¬¸í•­
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

single_choices = []
for i in question:
    if "_" not in i:
        single_choices.append(i)
single_choices

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

ğŸ“ŒQ2. í•œìŠ¤ ë¡œìŠ¬ë§(Hans Rosling, 1948ë…„ 7ì›” 27ì¼ ~ 2017ë…„ 2ì›” 7ì¼)ì€ ìŠ¤ì›¨ë´ì˜ ì˜ì‚¬ì´ì í†µê³„í•™ìë¡œ ë¹„ì˜ë¦¬ ë²¤ì²˜ ê°­ë§ˆì¸ë” ì¬ë‹¨ì˜ ê³µë™ì„¤ë¦½ìì´ê¸°ë„ í•©ë‹ˆë‹¤. ë¹…ë°ì´í„°ë¥¼ ê°€ì¥ ì˜ í™œìš©í•˜ëŠ” ë³´ê±´ í†µê³„í•™ìë¡œ ì•Œë ¤ì ¸ ìˆìŠµë‹ˆë‹¤. ë² ìŠ¤íŠ¸ì…€ëŸ¬ ì±…ì¸ "íŒ©íŠ¸í’€ë‹ˆìŠ¤" ì €ìì´ê¸°ë„ í•©ë‹ˆë‹¤. ê°­ë§ˆì¸ë” ì‚¬ì´íŠ¸ì—ì„œëŠ” ì—°ë„ë³„, êµ­ê°€ë³„ GDPì™€ ê¸°ëŒ€ìˆ˜ëª… ë°ì´í„°ë¥¼ ì œê³µí•˜ê³  ìˆëŠ”ë°, ëŒ€í‘œì ìœ¼ë¡œ íŒŒì´ì¬ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì¤‘ 'seaborn'ì—ì„œ ì œê³µë˜ëŠ” ì˜ˆì œ ë°ì´í„°ê°€ ìˆìŠµë‹ˆë‹¤. ì˜¤ëŠ˜ì€ ì´ ë°ì´í„°ë¥¼ í™œìš©í•´ ë¬¸ì œë¥¼ í’€ì–´ë³´ê² ìŠµë‹ˆë‹¤.

ë‹¤ìŒì˜ ë°ì´í„°ëŠ” ì—°ë„, êµ­ê°€ë³„ ê¸°ëŒ€ìˆ˜ëª…ì„ ë‚˜íƒ€ë‚´ê³  ìˆëŠ” ë°ì´í„° ì…ë‹ˆë‹¤. 2011ë…„ ë¶€í„°ì˜ ì—°ë„ë³„, êµ­ê°€ë³„ í‰ê·  ê¸°ëŒ€ìˆ˜ëª…ì„ êµ¬í•´ì£¼ì„¸ìš”. (2011ë…„ë„ í¬í•¨ë˜ê²Œ êµ¬í•©ë‹ˆë‹¤.)
* [í•„ìˆ˜ ì¡°ê±´] groupby ë‚˜ pivot_tableì„ í™œìš©í•©ë‹ˆë‹¤. groupby ë¡œ êµ¬í•  ë•Œ unstack()ì´ë¼ëŠ” ê¸°ëŠ¥ì„ ì‚¬ìš©í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ì»¬ëŸ¼ì— ì¸ë±ìŠ¤ ê°’ì„ ì˜¬ë ¤ì„œ í‘œê¸°í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
* ë§Œì•½ í–‰ì—ëŠ” 'ì—°ë„'ê°€, ì—´ì— 'êµ­ê°€'ê°€ ë“¤ì–´ìˆê³  ìˆ˜ì¹˜ ë°ì´í„°ì˜ ê²°ê³¼ê°’ì´ ì•„ë˜ì™€ ê°™ë‹¤ë©´, ì¶œë ¥í˜•íƒœëŠ” ì¡°ê¸ˆ ë‹¬ë¼ë„ ê´œì°®ìŠµë‹ˆë‹¤.
* ì˜ ëª¨ë¥´ê² ë‹¤ë©´, ë‹¤ìŒì˜ íŒë‹¤ìŠ¤ ë¬¸ì„œë¥¼ ì°¸ê³ í•´ì„œ í’€ì–´ë³´ì„¸ìš”! => https://pandas.pydata.org/docs/getting_started/intro_tutorials/07_reshape_table_layout.html

In [8]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [24]:

df[df.Year>=2011].pivot_table(values = "Life_Expectancy", index = "Year", columns = "Country")

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

ğŸ“ŒQ3. Jupyter notebook ì€ ë¬¸ì„œì™€ ì½”ë“œë¥¼ í•¨ê»˜ ì‘ì„±í•  ìˆ˜ ìˆë‹¤ëŠ” ì ì´ ì¥ì ì…ë‹ˆë‹¤. Jupyter notebook ì—ì„œ ì§€ì›í•˜ëŠ” Markdown ë¬¸ë²•ì„ ì‚¬ìš©í•˜ì—¬, ì´ë²ˆ ì£¼ì— ë°°ìš´ ë‚´ìš©ì„ ì •ë¦¬í•´ ë³´ì„¸ìš”!
ì´ë²ˆì£¼ í•™ìŠµ ë‚´ìš©ì€ ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”! [1ì£¼ì°¨ í•™ìŠµ ë‚´ìš©](ìŠ¤í„°ë”” ì „ìš© ê°•ì¢Œ 1ì£¼ì°¨ í•™ìŠµ ì•ˆë‚´ ë§í¬)

* Pandasë¥¼ í†µí•œ íŒŒì¼ ì €ì¥ê³¼ ë¶ˆëŸ¬ì˜¤ê¸°
    * to_csv("íŒŒì¼ëª…", index=False) : csv íŒŒì¼ë¡œ ì €ì¥í•˜ê¸°
    * read_csv("íŒŒì¼ëª…") : csv íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
    * shapeë¥¼ í†µí•œ í–‰ê³¼ ì—´ì˜ ìˆ˜ ë³´ê¸°
    * head, tail, sample ì„ í†µí•œ ì¼ë¶€ ë°ì´í„° ê°€ì ¸ì˜¤ê¸°
    

* DataFrameì˜ info(), describe() ë“±ì„ í†µí•œ ìš”ì•½ê³¼ ê¸°ìˆ í†µê³„ ê°’ êµ¬í•˜ê¸°
    * info()
    * describe()
    * nunique()
    * index
    * columns
    * values
    
    
* Pandasì˜ DataFrameê³¼ Seriesì˜ ì´í•´
    * Series : 1ì°¨ì› ë²¡í„°êµ¬ì¡°
    * DataFrame : 2ì°¨ì› í–‰ë ¬êµ¬ì¡°
    
    
* ìƒ‰ì¸í•˜ê¸°
    * [ì»¬ëŸ¼]
    * .loc[í–‰]
    * .loc[í–‰, ì—´]
    * .loc[ì¡°ê±´ì‹, ì—´]
    
    
* DataFrameì˜ ë°ì´í„° íƒ€ì… ì´í•´í•˜ê¸°
    * ë‚ ì§œ ë°ì´í„°ì˜ ë³€í™˜
    
    
* DataFrame ë‹¤ë£¨ê¸°
    * ì—´(column) ì¸ë±ì‹±
    * í–‰(index) ì¸ë±ì‹±
    * í–‰, ì—´ ì¸ë±ì‹±
    * ì •ë ¬í•˜ê¸° : sort_values ì‚¬ìš©í•˜ê¸°
    * ì¡°ê±´ì‹ ì‚¬ìš©í•˜ê¸°
    
    
* ë¹ˆë„ìˆ˜ êµ¬í•˜ê¸°
    * í•œ ê°œì˜ ë³€ìˆ˜ : series.value_counts()
    * ë‘ ê°œì˜ ë³€ìˆ˜ : pd.crosstab()
    
    
* groupby ì™€ pivot_table
    * ë‹¤ì–‘í•œ ì—°ì‚°ì‹ì˜ ì‚¬ìš©

ğŸ“ŒQ4. ì•ìœ¼ë¡œ ìš°ë¦¬ëŠ” ê³µê³µë°ì´í„°í¬í„¸ì—ì„œ ë°ì´í„°ë¥¼ ë‹¤ìš´ë¡œë“œ ë°›ì•„ ê³¼ì •ì„ ì§„í–‰í•  ì˜ˆì •ì…ë‹ˆë‹¤. ë³¸ê²©ì ì¸ í•™ìŠµ ì´ì „ì—! ë°ì´í„°ë¥¼ ë‹¤ë£¨ëŠ” ë°©ë²•ì´ ìµìˆ™í•´ì§€ë„ë¡ í•œë²ˆ ë” ì—°ìŠµí•´ë³´ê³ , ì–´ë–¤ ë¬¸ì œë¥¼ í’€ ìˆ˜ ìˆì„ì§€ë„ í•¨ê»˜ ê³ ë¯¼í•´ë³´ì•„ìš”!
ê³µê³µë°ì´í„°í¬í„¸ì—ì„œ ì›í•˜ëŠ” ë°ì´í„°ë¥¼ ë‹¤ìš´ë¡œë“œ ë°›ì•„ ê²½ë¡œë¥¼ ì„¤ì •í•˜ê³ , ì£¼í”¼í„° ë…¸íŠ¸ë¶ê³¼ íŒë‹¤ìŠ¤ë¥¼ í†µí•´ ë¶ˆëŸ¬ì™€ ë³´ì„¸ìš”!
ì–´ë–¤ ë°ì´í„°ë¥¼ ì‚¬ìš©í•´ì•¼í• ì§€ ê³ ë¯¼ëœë‹¤ë©´ ë‹¤ìŒ ë§í¬ì˜ ë°ì´í„°ë¥¼ ë‹¤ìš´ë¡œë“œ ë°›ì•„ë„ ì¢‹ìŠµë‹ˆë‹¤.
[ì°¸ê³  ì˜ˆì‹œ] ê³µê³µë°ì´í„°í¬í„¸ - ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬_ìƒí™œíê¸°ë¬¼ë°°ì¶œëŸ‰

ì´ ë•Œ, ì¸ì½”ë”© ì˜¤ë¥˜ê°€ ë°œìƒí•œë‹¤ë©´ encoding="cp949" ì˜µì…˜ì„ ì‚¬ìš©í•´ ì£¼ì„¸ìš”!
cp949ëŠ” í•œê¸€ ìœˆë„ìš°ì—ì„œ ì‚¬ìš©í•˜ëŠ” ì¸ì½”ë”© ë°©ì‹ì´ëë‹ˆë‹¤. ì¸ì½”ë”©ê³¼ ê´€ë ¨ëœ ìì„¸í•œ ë‚´ìš©ì€ ë‹¤ìŒì„ ì°¸ê³ í•´ ì£¼ì„¸ìš”.
ë¬¸ì ì¸ì½”ë”© - ìœ„í‚¤ë°±ê³¼, ìš°ë¦¬ ëª¨ë‘ì˜ ë°±ê³¼ì‚¬ì „
íŒŒì¼ì„ ì—´ê±°ë‚˜ ì €ì¥í•  ë•Œ í…ìŠ¤íŠ¸ ì¸ì½”ë”© ì„ íƒ

In [28]:
%mv /Users/yujin/Downloads/ì„œìš¸íŠ¹ë³„ì‹œ_ê°•ë‚¨êµ¬_ìƒí™œíê¸°ë¬¼ë°°ì¶œëŸ‰_20221019.csv .

mv: /Users/yujin/Downloads/ì„œìš¸íŠ¹ë³„ì‹œ_ê°•ë‚¨êµ¬_ìƒí™œíê¸°ë¬¼ë°°ì¶œëŸ‰_20221019.csv: No such file or directory
Untitled.ipynb
ì„œìš¸íŠ¹ë³„ì‹œ_ê°•ë‚¨êµ¬_ìƒí™œíê¸°ë¬¼ë°°ì¶œëŸ‰_20221019.csv

In [30]:
pd.read_csv("ì„œìš¸íŠ¹ë³„ì‹œ_ê°•ë‚¨êµ¬_ìƒí™œíê¸°ë¬¼ë°°ì¶œëŸ‰_20221019.csv", encoding="cp949")

    ê°•ë‚¨êµ¬  2019ë…„(ìƒí™œíê¸°ë¬¼)-í†¤  2020ë…„(ìƒí™œíê¸°ë¬¼)-í†¤
0   01ì›”            7550            7350
1   02ì›”            6387            6688
2   03ì›”            7198            6973
3   04ì›”            6820            6448
4   05ì›”            7767            6470
5   06ì›”            7275            7923
6   07ì›”            8164            8015
7   08ì›”            7807            7859
8   09ì›”            6811            7452
9   10ì›”            7222            6875
10  11ì›”            7592            7337
11  12ì›”            7298            6911